<%- include('./templates/head') -%>
<body>
    <%- include('./templates/navbar') -%>
    <%- include('./templates/sideNavbar') -%>

    
    <section id="header">
        <%- include('./templates/introAnimation') -%>
    </section>

    <section class="infoArrow">
        <div class="central-text">

            <h2>Intro to Advanced Surface Modeling with Rhino</h2>

            <h3>Intro to Advanced Surfacing #1</h3>

            <p>In this lesson we are going to start our guitar model, building the base curves. Our reference will be the Ibanez SA260FM, make it exactly the same or not is up to you, but the idea is to give you an introduction to advanced surfacing in Rhino.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_01.3dm" target="_blank"> here!</a></p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/Pev1JNCkqM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Intro to Advanced Surfacing #2</h3>

            <p>In this lesson we are going to build the first body surfaces of the guitar.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_02.3dm" target="_blank"> here!</a></p>
            
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/mZHE7nuLRBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Intro to Advanced Surfacing #3</h3>

            <p>In this lesson we are going to build the top part of the body.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_03.3dm" target="_blank"> here!</a></p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/JGtZFAkq3y4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Intro to Advanced Surfacing #4</h3>

            <p>In this lesson we are going to build the edges of the body.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_04.3dm" target="_blank"> here!</a></p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/_RePRwu5_Zg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Intro to Advanced Surfacing #5</h3>

            <p>In this lesson we are going to build the guitar body blends.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_05.3dm" target="_blank"> here!</a></p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/Xe314kb0qSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Intro to Advanced Surfacing #6</h3>

            <p>In this lesson we will be building the neck of the guitar.</p>

            <p>Remember to download the Rhino file for every lesson <a href="/downloads/Learn_Rhino_Intro_to_Advanced_Surfacing_06.3dm" target="_blank"> here!</a></p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/D26be8LCkmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <%- include('./templates/downArrowSVG') -%>

    </section>

    <section class="inter-header-container">
        <img src="/assets/learn-rhino-logo-1k-curves.png" class="inter-header">
    </section>

    <section class="infoArrow">
        <%- include('./templates/downArrowSVG') -%>

        <div class="central-text">
            <h2>Rhino Tips and Tricks</h2>

            <h3>Rhino Tips and Tricks #1</h3>
            
            <p>Content of our first video of Rhino Tips & Tricks series: Set Object Display Mode, Ortho, angle lock and OSnap Selection, Polyline “Elevator Mode”, Mixing Units (cm with inches), Picture Frame.</p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/EM6hItTtiA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Rhino Tips and Tricks #2</h3>
            
            <p>In this second video of Rhino Tips & Tricks series we are going to cover: Align, Auto-Snap, Constrain axis, CullControlPolygon, Selection Filter.</p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/B26b-wJXFJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Rhino Tips and Tricks #3</h3>
            
            <p>In this third video of Rhino Tips & Tricks series we are going to cover: Aliases, Switch views using the scroll mouse, Access command options in the toolbar.</p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/BM6Ue3siVDg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Rhino Tips and Tricks #4</h3>
            
            <p>In this fourth video of Rhino Tips & Tricks series we are going to cover: Selecting edges and surfaces, Transform those selection with the gumball, MergeAllFaces, CageEdit, Reposition and reset continuty in the BlendCrv command.</p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/uDadjllTRR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <hr>

            <h3>Rhino Tips and Tricks #5</h3>
            
            <p>In this fifth video of Rhino Tips & Tricks series we are going to cover: Viewport Links, OSnap referencing objects, MergeSrf, Flatten with the gumball, Mouse settings.</p>

            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/EKV-NIP00FU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

    <%- include('./templates/footer') -%>

    <script src="/js/navbar.js"></script>
    <script src="/js/sideNavbar.js"></script>
</body>
</html>